/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* header section style  */
.header-section{
    background-color: #264653;
}
.btn-style{
    background-color: #E76F51 !important;
    padding: 10px 46px;
}
/* Fetured Bikes style  */
.fetured-text p{
    color: #E76F51;
    font-weight: 600;
    font-size: 14px
}
.fetured-text h1{
    color: #000000;
    font-weight: 600;
    font-size: 48px;
}
.fetured-img img{
    width: 80%;
    overflow: hidden;
}
.filter{
    filter: grayscale(100%);
}
.clients-text h2{
    color: #0A0826;
}
.clients-text span{
    color: #E76F51;
}
.clients-img img{
    margin-top: 30px;
    width: 149px;
    height: 149px;
}
.fa-star.filled{
    color: #E77C40;;
}
/* FAQ section style  */
.faq-section h1{
   color: #0D0925;
}
.faq-section span{
   color: #E76F51;
}
.faq-img img{
    width: 70%;
}
.accordion-card{
    border: none;
    margin-bottom: 20px;
}
/* Offer section style  */
.offer-sec{
    background-color: #f2f2f2;
}
.offer-text{
    background-color: #e60000;
    color: white;
    padding: 10px 15px;
}
.new-img img{
    width: 100%;
}
/* About us section style  */
.about-us{
    background-color: #FDF6F0;
}
.about-us-img img{
    width: 100%;
}